@import '../../assets/styles/breakpoints';
@import '../../assets/styles/toggle-button';
@import '../../assets/styles/accordion';

.wrapper {
  width: 100%;
  max-width: 531px;
  background: white;
  border-radius: 10px;
  //padding: 20px;
  .header {
    display: flex;
    justify-content: end;
    gap: 42px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .forma{
    border-radius: 12px;
    //padding: 16px;
    width: 100%;
    div {
      //margin-bottom: 24px;
    }
    ::ng-deep.mat-mdc-text-field-wrapper{
      height: 53px;
      border-radius: 11px;
      width: 100%;
      background-color: #28A54A1A;
    }

    .form-row {
      display: flex;
      gap: 8px;
      margin-bottom: 0;
      div {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    .form-col {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .form-pairs {
      display: flex;
      flex-direction: column;
      gap: 0;

      &-checkbox {
        p {
          margin-top: 10px;
          margin-bottom: 0;
        }

        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .pair {
        display: flex;
        gap: 8px;
        margin-bottom: 0;
      }

      .pair-50-50 mat-form-field,
      .pair-70-30 mat-form-field:first-child,
      .pair-30-70 mat-form-field:last-child {
        flex: 1;
      }

      .pair-70-30 mat-form-field:first-child,
      .pair-30-70 mat-form-field:last-child {
        flex: 7;
      }

      .pair-70-30 mat-form-field:last-child,
      .pair-30-70 mat-form-field:first-child {
        flex: 3;
      }
    }

    ::ng-deep.mdc-line-ripple{
      display: none !important;
    }

    .navigation-buttons{
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
        button{
          border-radius: 0;
        }
    }
  }
}


.upload-box {
  border: 2px dashed #28a745;
  background-color: #f0fdf4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s;
  margin-bottom: 16px;

  .file-preview,
  .file-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #28a745;
    font-weight: bold;
  }

  i {
    font-size: 20px;
  }
}

.mat-datepicker-toggle{
  z-index: 10 !important;
}

.dental-part{
  display: flex;
  width: 104pt;
  height: 26pt;
  border-radius: 4pt;
  background-color: #28A54A;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  margin-top: 10px;
}

