.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header{
    display: flex;
    flex-direction: row;
    gap: 46px;
    margin: 0;
    justify-content: flex-end;
    width: 398px;
  }
  .forma{
    width: 398px;
    border: 1px solid black;

  }
}
