/* You can add global styles to this file, and also import other style files */
@import './assets/styles/breakpoints';

html, body { height: max-content; display: flex; justify-content: center; align-items: flex-start; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: whitesmoke; }

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24pt;
  margin: 0;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14pt;
  color: #000000;
  margin: 0;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13pt;
  color: #000000;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #706C73;
  margin-top: 0;
  img{
    vertical-align: text-top;
  }
  &.black {
    color: #000000;
  }
}

p.special-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
  color: white;

  &--remove{
    color: white;
  }
}

img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}
.disabled-label {
  color: gray;
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}
